# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
__pycache__/
*.pyc

# Environment
.env
.env.local
CREDENTIALS.txt
.env
.env.local
*.env

# Database
*.db
*.sqlite
create_tables.py


# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
.next/